@import '../../scss/mixins.scss';

.form {
  @include flex-column-center;
  width: 500px;
  gap: 5px;
  padding-bottom: 30px;

  &__input {
    @include input;
  }
  &__button {
    @include button;
  }
  &__error {
    @include error;
  }
}

@media screen and (max-width: 520px) {
  .form {
    width: 300px;
    &__input {
      width: 300px;
    }
  }
}
